body {
	margin: none;
}

#library {
	display: flex;
	background: orange;
}

.book {
	display: flex;
	justify-content: space-around;
	padding: 2vh;
	margin
}

button {
	
}

#newBook {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formHidden {
	visibility: hidden;
}


.formOpen {
	visibility: visible;
}

form {
	background: white;
	padding: 3vh;
	border-radius: 1vh;
}

