body {
	margin: none;
	font-family: 'Montserrat', helvetica, sans-serif;
	--color1: #FB846B;
	--color2: #2C8DE6;
	--color3: #64A8E6;
	--color4: #FBB9AB;
	--color5: #BAD1E6;
	--color6: #F3F0F2;
	--color7: #F7E9E4;
	--color8: #D4E4F2;
	--color9: #E7EDF7;
	--color-1: #414141;
	--color-2: #918986;
}

button {
	font-family: 'Montserrat', helvetica, sans-serif;
	font-size: .7em;
	background: pink;
	
}


#welcome {
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 3vw;
	text-align: center;
	color: var(--color2);
	flex-direction: column;
}

h1 {
	font-family: 'Poiret One', helvetica, sans-serif;
	color: var(--color1);
}

.book {
	border-radius: 1vw;
	width: 40vw; /*mobile only*/
	height: 45vw; /*mobile only*/
	margin: 2vw;
	padding: 1vw;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-around;
	
}

.book p {
	margin: 0;
}

.cardButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.cardButtons button {
	border-radius: 1vw;
	padding: 1em;
	flex: 1 0;

}

.add {
	align-self: flex-end;
}

.add1 {
	width: 35px;
	height: 5px;
	background-color: var(--color4);
	margin: 6px 0;
	transform: translate(0, 10px);
	border-radius: 5px;
}

.add2 {
	width: 35px;
	height: 5px;
	background-color: var(--color4);
	margin: 6px 0;
	transform: rotate(90deg);
	border-radius: 5px;
}

.menu {
	display: inline-block;
	align-self: flex-start;
}

.menu1, .menu2, .menu3 {
	width: 35px;
	height: 5px;
	background-color: var(--color4);
	margin: 6px 0;
	border-radius: 5px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.change .menu1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu2 {
	opacity: 0;
}

.change .menu3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

.notRead { background-color: #DCDADB; }
.read { background-color: white; }
.delete { background-color: #FBB9AB; }

#library {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#library h1 {
	background-color: black;
	color: white;
	padding: 1.5vw;
	margin: -1vw;
}


.welcomeBtns {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin: 0 2vw 0 2vw;
}

.welcomeBtns button {
	font-family: 'Playfair Display', helcetica, sans-serif;
	padding: 2vw;
	background-color: var(--color6);
	border: 4px solid var(--color4);
	color: var(--color2);
	font-size: 1em;
	box-shadow: 0px 3px 5px #AAA;
	font-weight: bold;
}

.populated {
	display: flex;
	justify-content: space-between;
	width: 96%;
	padding: 1vw 2vw 1vw 2vw;
	background-color: white;
}

.populated h1 {
	margin: 0;
	color: var(--color1);
}



#buttons {
	position: sticky;
	top: 0;
}

#newBook {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formHidden { visibility: hidden; }
.formOpen {	visibility: visible; }

.hidden { display: none; }
.unhidden { display: flex; }

form {
	background: var(--color8);
	padding: 3vh;
	border-radius: 1vh;
	box-shadow: 0px 3px 5px #333;
	display: flex;
	justify-content: flex-end;
}

label {
	line-height: 2;
}


input[type=submit] {
	background-color: var(--color1);
	color: var(--color-1);
	border: 0;
	padding: 2em;
	font-size: 1em;
	font-family: 'Montserrat';
	flex-grow: 1;
}

input {
	background-color: var(--color7);
}

legend {
	font-family: 'Poiret One', helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: .5em;
}
